body {
	// font-family: 'Lora', serif;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

// Reset

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

input {
	padding: 0;
	margin: 0;
	border: none;
	background: transparent;

	&:focus {
		outline: 0;
	}
}

p {
	padding: 0;
	margin: 0;
}

.btn {
	&__primary {
		background-color: #000;
	    color: #fff;
	    padding: 5px 15px;
	    float: left;
	    text-decoration: none;
	}
}

// Layout 

.layout {

	&__footer {
		width: 100%;
		position: fixed;
		bottom: 0;
	}

	&__content {
		position: relative;
	}
}

// Loader

.loader {
	background-color: rgba(255,255,255,0.4);
	width: 100%;
	min-height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	opacity: 0;

	transition-property: opacity;
	transition-duration: .5s;
	
	&--show {
		opacity: 1;
		z-index: 1;
	}

	&__inner {
		height: 50px;
		width: 200px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -25px;
		margin-left: -100px;
		background-color: #fff;
		text-align: center;

		p {
			padding-top: 18px;
		}
	}
}

.content {
	&__header {
		overflow: hidden;
		padding-bottom: 20px;
		padding-left: 20px;
		padding-right: 20px;
		border-bottom: solid 1px #000;
	}

	&__wrap {
		max-width: 940px;
		margin: 0 auto;
		margin-bottom: 60px;
	}

	&__breadcrumb {
		float: left;
	}

	&__options {
		float: right;

		a {
			text-decoration: none;
			padding: 5px 15px;
			color: #000;
			float: right;
		}
	}
}

@media (max-width: 640px) {
	.content {
		&__options {
			width: 100%;
			float: left;
			padding-top: 20px;
			border-top: solid 1px #000;

			a {
				float: left;
			}
		}
		&__breadcrumb {
			padding-bottom: 25px;
		}
	}
}

.clearfix {
	clear: both;
}