<template name="cycleItem">
	<div class="cycleitem">
		<div class="cycleitem__top">
			<div class="cycleitem__title">
				<h3>{{Naam}}</h3>
			</div>
			<div class="cycleitem__openinghours">
				<p>{{Plaats}}</p>
			</div>
		</div>
		<div class="cycleitem__bottom-left">
			<div class="cycleitem__description">
				<p>{{Straat}}</p>
			</div>
			<div class="cycleitem__website">
				<a href="{{Url}}" target="_blank" title="Ga naar de website van {{Naam}}">{{Url}}</a>
			</div>
			<div class="cycleitem__map">
				<a href="#map" title="Bekijk {{Naam}} op de map">Map</a>
			</div>
		</div>
		<div class="cycleitem__bottom-right">
			<div class="cycleitem__link">
				<a href="/cycle-detail/{{cidn}}" title="Link naar detail pagina">Detail pagina</a>
			</div>
		</div>
	</div>
</template>