$color-outstanding: #8A0917;
$color-light: #FFFFFF;
$color-simple: #B8AE9C;
$color-extra: #ACCFCC;
$color-dark: #595241;

body {
	// font-family: 'Lora', serif;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;

	-webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale;
}

// Reset

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

input {
	padding: 0;
	margin: 0;
	border: none;
	background: transparent;

	&:focus {
		outline: 0;
	}
}

p {
	padding: 0;
	margin: 0;
}

a {
	color: $color-outstanding;
	text-decoration: none;
}

// Layout 

.layout {

	&__footer {
		width: 100%;
		position: fixed;
		bottom: 0;
	}

	&__header {
		position: relative;
		z-index: 2;
	}

	&__content {
		position: relative;
	}

	&__index {
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		@media (max-width: 550px) {
			position: relative;
			width: auto;
			height: auto;
			padding-top: 20px;
		}

		@media (max-width: 480px) { 
			padding-left: 5%;
			padding-right: 5%;
			padding-bottom: 40px;
		}
	}
}

// Loader

.loader {
	background-color: rgba(255,255,255,0.4);
	width: 100%;
	min-height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 4;
	opacity: 0;
	visibility: hidden;

	transition-property: opacity;
	transition-duration: .5s;
	
	&--show {
		opacity: 1;
		visibility: visible;
	}

	&__inner {
		height: 50px;
		width: 200px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -25px;
		margin-left: -100px;
		background-color: #fff;
		text-align: center;

		p {
			padding-top: 18px;
		}
	}
}

.background {
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url(img/background.jpg);
	background-size: cover;

	@media (max-width: 640px) {
		background-image: url(img/background-mobile.jpg);
		background-size: 750px 1334px;
		background-position:center top;
	}
}

.content {
	&__header {
		overflow: hidden;
		padding-bottom: 20px;
		padding-left: 20px;
		padding-right: 20px;
		border-bottom: solid 1px #000;
		background-color: #fff;
		z-index: 2;
		position: relative;
	}

	&__wrap {
		max-width: 940px;
		margin: 0 auto;
		margin-bottom: 60px;
		z-index: 1;
		position: relative;

		&--hidden {
			visibility: hidden;
		}
	}

	&__breadcrumb {
		float: left;
	}

	&__options {
		float: right;
	}
}

.btn {
	background-color: $color-outstanding;
    border: 1px solid darken($color-outstanding, 15%);
    box-shadow: inset 0 -2px 0 0 darken($color-outstanding, 15%);
    color: $color-light;
    border-radius: 3px;

	text-decoration: none;
	font-weight: bold;
	display: block;
	text-align: center;

	padding: 15px 0px;

	&--large {		
		font-size: 25px;
		padding: 15px 20px;
		text-transform: uppercase;
	}
	&--inline {
		display: inline-block;
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media (max-width: 640px) {
	.content {
		&__options {
			width: 100%;
			float: left;
			padding-top: 20px;
			border-top: solid 1px #000;

			a {
				float: left;
			}
		}
		&__breadcrumb {
			padding-bottom: 25px;
		}
	}
}

.clearfix {
	clear: both;
}