.list {

	&__button {
		text-align: center;
		padding-top: 15px;
		padding-bottom: 15px;
		margin: 20px 0px;

		a {
			display: inline-block;
			padding: 15px;
			background-color: #000;
			color: #fff;
			text-decoration: none;
		}
	}

	&__wrap {
		margin-top: 20px;
	}
}