$color-outstanding: #8A0917;
$color-light: #FFFFFF;
$color-simple: #B8AE9C;
$color-extra: #ACCFCC;
$color-dark: #595241;

/* =====================================
	INDEX
	================================== */

.index {
	width: 100%;
	max-width: 400px;
	min-height: 300px;
	margin: 0 auto;

	&__title {
		padding: 20px;

		h2 {
			color: $color-outstanding;
			width: 75%;
		}
	}

	&__form {
		padding: 20px;
		background-color: $color-extra;

		margin-left: 20px;
		margin-right: 20px;
	}

	&--animatein {
		-webkit-animation:bounce .5s ease-in-out;
	}
}

/* =====================================
	FORM
	================================== */

.form {
	&__inputholder {
		padding: 15px 20px;
		background-color: $color-light;
		color: $color-outstanding;
	}

	&__error {
		display: none;

		&-message {
			padding: 15px 20px;
			margin-bottom: 15px;
			border: solid 1px $color-light;
			color: $color-light;
			font-weight: 500;
		}
		&--show {
			display: block;
		}
	}

	&__hl {
		border-bottom: solid 1px $color-dark;
		text-align: center;
		color: $color-light;
		padding: 15px 20px;
		width: 75%;
		margin: 0 auto;
		font-weight: 500;
		font-style: italic;
		font-size: 16px;
	}

	&__label {
		padding: 15px 20px;
		color: $color-light;

		&--gps {
			text-align: center;
		}
	}

	&__radiogroup {
		color: $color-light;
		overflow: hidden;
		padding: 15px 20px;

		label {
			width: 50%;
			float: left;
		}
	}

	&__radio {
		margin-right: 10px;

		&:focus {
			color: #000;
		}
	}

	&__btn {
		padding: 5px 10px;
		background-color: $color-light;
		color: $color-outstanding;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: bold;
		display: inline-block;
	}

	&__btnholder {
		text-align: right;
		padding-top: 15px;
	}
}

@keyframes bounce {
   0% { opacity:0; transform:translateY(-800px); }
   60% { opacity:1; transform:translateY(25px); }
   80% { transform:translateY(-8px); opacity:.8; }
   100% { transform:translateY(0); }
}