<template name="index">
	<div class="index">
		<div class="index__title">
			<h2>{{title}}</h2>
		</div>
		<div class="index__form">
			<div class="form">
				<div class="form__error" id="error" visible-class="form__error--show">
					<div class="form__error-message" id="errorMessage">
						<p>{{errorMessage}}</p>
					</div>
				</div>
				<div class="form__inputholder">
					<input class="form__input" id="inputSearch" placeholder="{{placeholder}}" tabindex="1"/>
				</div>
				<div class="form__btnholder">
					<a class="form__btn" id="btnSubmit" href="javascript:void(0);" tabindex="4">Klik en vind!</a>
				</div>
			</div>
		</div>
	</div>
</template>