<template name="venueItem">
	<div class="venueitem">
		<div class="venueitem__top">
			<div class="venueitem__title">
				<h3>{{title}}</h3>
			</div>
			<div class="venueitem__openinghours">
				<p>{{openinghours}}</p>
			</div>
		</div>
		<div class="venueitem__bottom-left">
			<div class="venueitem__description">
				<p>{{description}}</p>
			</div>
			<div class="venueitem__website">
				<a href="{{homepage}}" target="_blank" title="Ga naar de website van {{title}}">{{homepage}}</a>
			</div>
			<div class="venueitem__map">
				<a href="#map" title="Bekijk {{title}} op de map">Map</a>
			</div>
		</div>
		<div class="venueitem__bottom-right">
			<div class="venueitem__link">
				<a href="/venues/detail/{{cidn}}" title="Link naar detail pagina">Detail pagina</a>
			</div>
		</div>
	</div>
</template>